// Variables
// Colours
$primary: hsl(172, 67%, 45%);

$danger: hsl(183, 100%, 15%);
$dark: hsl(186, 14%, 43%);
$grey-cyan: hsl(184, 14%, 56%);
$light: hsl(185, 41%, 84%);
$vlg-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

// Typography
$fs: 24px;
$ff: 'Space Mono', monospace;
$fw: 700;

@use 'variables';

body {
    background-color: $light
}



main {
    background-color: $white;
}